* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: azure;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  font: inherit;
  background: #476c9b;
  border: 1px solid #476c9b;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #1481ba;
  border-color: #1481ba;
}

.chores {
  width: 50%;
  margin: 1rem auto;
  border: 1px solid #476c9b;
}

.chores header {
  background: #476c9b;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Finished-Chores {
  border-color: #ef476f;
}

#Finished-Chores header {
  background: #ef476f;
}

#Finished-Chores li h2 {
  color: #ef476f;
  text-decoration: line-through;
}

#Finished-Chores p {
  color: #ccc;
  border-bottom: 1px solid #1481ba;
}

#Finished-Chores .droppable {
  background: #ef476f;
  min-height: 10rem;
}

#user-input {
  margin: auto;
  padding: 1rem;
  border: 1px solid #2d232e;
  background: #f0efef;
}

.chores h2 {
  margin: 0;
  color: white;
}

.chores ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.chores li {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.38);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.chores li h2 {
  color: #476c9b;
  margin: 0.5rem 0;
}

.chores li p {
  border-bottom: 1px solid #ef476f;
}

.droppable {
  background: #ffe3ee;
}

.form-container {
  width: 25%;
}
